- name: Kubescape
  # You may pin to the exact commit or the version.
  # uses: kubescape/github-action@c91feb3b8dd145ff8a094f91d6836bba4abc4293
  uses: kubescape/github-action@v3.0.5
  with:
    # Failure threshold is the percent above which the command fails and
returns exit code 1 (default 0 i.e, action fails if any control fails)

    failedThreshold: # optional
    # Compliance threshold is the percent bellow which the command fails and
returns exit code 1 (example: if set to 100 the command will fail if any control fails)

    complianceThreshold: # optional
    # Severity threshold is the severity of a failed control at or above which
the command terminates with an exit code 1 (default is "high", i.e. the
action fails if any High severity control fails)

    severityThreshold: # optional, default is high
    # Path to the configuration yaml to scan

    files: # optional
    # Name of the output file, without the extension.

Default is "results".

Kubescape adds the appropriate extension automatically to support both
single and multiple output formats.

    outputFile: # optional
    # Display all of the input resources and not only failed resources

    verbose: # optional
    # List of all frameworks to scan. Run kubescape list frameworks with
the Kubescape CLI to get a list of all frameworks. Either frameworks
have to be specified or controls.

    frameworks: # optional
    # List of all controls to scan. Run kubescape list controls with the
Kubescape CLI to get a list of all controls. Either frameworks
have to be specified or controls.

    controls: # optional
    # Path to the file containing controls configuration.

    controlsConfig: # optional
    # Kubescape Portal client id.
Use for integrating with third-party servers.

    account: # optional
    # Kubescape Portal accessKey.
Use for integrating with third-party servers.

    accessKey: # optional
    # Kubescape Portal URL.
Use for integrating with third-party servers.

    server: # optional
    # Path to the json file containing exceptions.

    exceptions: # optional
    # Output format.

Can take one or more formats. To use one format, omit the comma, e.g
`format: json`. To produce results in multiple formats, separate them with
a comma: `format: sarif,json`.

For example, when using `output: "results"` and `format: "sarif,json"`,
Kubescape will produce 2 files: `results.sarif` and `results.json`. You
can then use `results.sarif` to publish results to Github Code Scanning
and `results.json` to suggest automatic fixes.

Run `kubescape scan -h` to see a list of supported formats.

    format: # optional, default is junit
    # Whether Kubescape will automatically fix files or not.

If enabled, Kubescape will make fixes to the input files. You can then
use these fixes to open Pull Requests from your CI/CD pipeline.

    fixFiles: # optional, default is false
    # An image to scan.

This option runs an image scan instead of the usual configuration scan.

Example: "nginx" or "bitnami/redis" or "quay.io/kubescape/kubescape"

    image: # optional
    # A username for a private registry that contains the image to be scanned.

    registryUsername: # optional
    # A password for a private registry that contains the image to be scanned.

    registryPassword: # optional
          
